# EDA - Analisis Exploratorio.
- Lectura de fuente de datos.
    - https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results

In [3]:
# Importando librrerias
import os
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [4]:
# Consultando arhivos locales en ruta datasets / inputs
path_input_datasets = "../datasets/input/olimpiadas/"
path_output = "../datasets/output/"
os.listdir(path_input_datasets)
#os.mkdir("../datasets/output")

['athlete_events.csv', 'noc_regions.csv']

In [5]:
olympics = pd.read_csv(path_input_datasets+'athlete_events.csv')
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [9]:
# verificando columnas
olympics.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [10]:
# Verificando cantidad de filas y columnas.
olympics.shape

(271116, 15)

In [11]:
# Verificando el indice del datset.
olympics.index

RangeIndex(start=0, stop=271116, step=1)

### 01 - Anaisis de datos con (Info, Cantidad, Porcentajes, valores nulos).

In [12]:
# Obteniendo Informacion.
olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [15]:
# Obtener una cuenta de los valores nulos en cada una de las columnas con isnull.
olympics.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [16]:
# Obtener porcentaje de los valores nulos en cada una de las columnas con mean.
olympics.isnull().mean()

ID        0.000000
Name      0.000000
Sex       0.000000
Age       0.034944
Height    0.221938
Weight    0.231912
Team      0.000000
NOC       0.000000
Games     0.000000
Year      0.000000
Season    0.000000
City      0.000000
Sport     0.000000
Event     0.000000
Medal     0.853262
dtype: float64

### 02 - Analisis de datos con (value, counts)

In [18]:
# Explorando valores repetidos.
london = olympics.query('Games == "2012 Summer"')
london.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
98,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30.0,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"Athletics Men's 1,500 metres",NaN
134,48,Abdelhak Aatakni,M,24.0,NaN,64.0,Morocco,MAR,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Light-Welterweight,NaN
164,67,Mariya Vasilyevna Abakumova (-Tarabina),F,26.0,179.0,80.0,Russia,RUS,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Javelin Throw,NaN
174,73,Luc Abalo,M,27.0,182.0,86.0,France,FRA,2012 Summer,2012,Summer,London,Handball,Handball Men's Handball,Gold

In [19]:
# Validando si name aparece mas de una vez.
london['Name'].value_counts()

Name
Koji Yamamuro                8
Oleh Yuriyovych Verniaiev    8
Kim Su-Myeon                 8
Flavius Koczi                8
Kristian James Thomas        8
                            ..
Ivan Horvat                  1
Lidija Horvat                1
Nikolina Horvat              1
Zlatko Horvat                1
ukasz Tomasz ygado           1
Name: count, Length: 10502, dtype: int64

In [20]:
# Filtrando por atletas para comparar los eventos en los que ha participado.
london.query('Name == "Kim Su-Myeon"')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
119081,60273,Kim Su-Myeon,M,25.0,165.0,57.0,South Korea,KOR,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,NaN
119082,60273,Kim Su-Myeon,M,25.0,165.0,57.0,South Korea,KOR,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,NaN
119083,60273,Kim Su-Myeon,M,25.0,165.0,57.0,South Korea,KOR,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Floor Exercise,NaN
119084,60273,Kim Su-Myeon,M,25.0,165.0,57.0,South Korea,KOR,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,NaN
119085,60273,Kim Su-Myeon,M,25.0,165.0,57.0,South Korea,KOR,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Parallel Bars,NaN
119086,60273,Kim Su-Myeon,M,25.0,165.0,57.0,South Korea,KOR,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
119087,60273,Kim Su-Myeon,M,25.0,165.0,57.0,South Korea,KOR,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Rings,NaN
119088,60273,Kim Su-Myeon,M,25.0,165.0,57.0,South Korea,KOR,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,NaN

### 03 - Analisis de datos con (unique - nunique)

In [21]:
# Obtener los valores unicos de la columna City.
olympics['City'].unique()

array(['Barcelona', 'London', 'Antwerpen', 'Paris', 'Calgary',
       'Albertville', 'Lillehammer', 'Los Angeles', 'Salt Lake City',
       'Helsinki', 'Lake Placid', 'Sydney', 'Atlanta', 'Stockholm',
       'Sochi', 'Nagano', 'Torino', 'Beijing', 'Rio de Janeiro', 'Athina',
       'Squaw Valley', 'Innsbruck', 'Sarajevo', 'Mexico City', 'Munich',
       'Seoul', 'Berlin', 'Oslo', "Cortina d'Ampezzo", 'Melbourne',
       'Roma', 'Amsterdam', 'Montreal', 'Moskva', 'Tokyo', 'Vancouver',
       'Grenoble', 'Sapporo', 'Chamonix', 'St. Louis', 'Sankt Moritz',
       'Garmisch-Partenkirchen'], dtype=object)

In [22]:
# Obtener el tamaño de los valores unicos de la columna City.
len(olympics['City'].unique())

42

In [24]:
olympics['City'].unique().size

42

In [25]:
olympics['City'].nunique()

42

In [27]:
sorted(olympics['City'].unique())

['Albertville',
 'Amsterdam',
 'Antwerpen',
 'Athina',
 'Atlanta',
 'Barcelona',
 'Beijing',
 'Berlin',
 'Calgary',
 'Chamonix',
 "Cortina d'Ampezzo",
 'Garmisch-Partenkirchen',
 'Grenoble',
 'Helsinki',
 'Innsbruck',
 'Lake Placid',
 'Lillehammer',
 'London',
 'Los Angeles',
 'Melbourne',
 'Mexico City',
 'Montreal',
 'Moskva',
 'Munich',
 'Nagano',
 'Oslo',
 'Paris',
 'Rio de Janeiro',
 'Roma',
 'Salt Lake City',
 'Sankt Moritz',
 'Sapporo',
 'Sarajevo',
 'Seoul',
 'Sochi',
 'Squaw Valley',
 'St. Louis',
 'Stockholm',
 'Sydney',
 'Tokyo',
 'Torino',
 'Vancouver']

### 03 - Analisis de datos con (min - max)

In [28]:
# Identificacion de los aos que se tienen en el dataset.
olympics['Year'].unique()

array([1992, 2012, 1920, 1900, 1988, 1994, 1932, 2002, 1952, 1980, 2000,
       1996, 1912, 1924, 2014, 1948, 1998, 2006, 2008, 2016, 2004, 1960,
       1964, 1984, 1968, 1972, 1936, 1956, 1928, 1976, 2010, 1906, 1904,
       1908, 1896], dtype=int64)

In [29]:
# Identificacion de los valores minimos que se tienen en el dataset.
olympics['Year'].min()

1896

In [30]:
# Identificacion de los valores maximos que se tienen en el dataset.
olympics['Year'].max()

2016

In [34]:
# Obteniendo cantidad de años de los juegos olimpicos.
olympics['Year'].max() - olympics['Year'].min()

120

In [35]:
# obteniendo valores maximos de una variable categorica.
olympics['City'].max()

'Vancouver'

In [36]:
# obteniendo valores minimos de una variable categorica.
olympics['City'].min()

'Albertville'

### 04 - Analisis de datos con (mean - median - mode)

In [37]:
# calcular medidas de centralidad en variables numericas.
# Calculando la media que es iguala al promedio.
olympics['Age'].mean()

25.556898357297374

In [38]:
# calcular medidas de centralidad en variables numericas.
# Calculando la mediana que se fija en el valor que esta en el medio, ordenando la columna.
olympics['Age'].median()

24.0

In [39]:
# calcular medidas de centralidad en variables numericas.
# Calculando la moda que es equivalente al valor mas frecuente de la columna.
olympics['Age'].mode()

0    23.0
Name: Age, dtype: float64

In [40]:
# Para validar los datos de moda, se puede usar la funcion value_counts que retorna el valor mas usado en la columna.
olympics['Age'].value_counts()

Age
23.0    21875
24.0    21720
22.0    20814
25.0    19707
21.0    19164
        ...
77.0        2
84.0        1
10.0        1
96.0        1
97.0        1
Name: count, Length: 74, dtype: int64