# Lectura de fuentes de datos.
- 120 a√±os de olimpiadas. 
- https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results

In [1]:
# Importando librrerias
import os
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Consultando arhivos locales en ruta datasets / inputs
path_input_datasets = "../datasets/input/olimpiadas/"
path_output = "../datasets/output/"
os.listdir(path_input_datasets)
#os.mkdir("../datasets/output")

['athlete_events.csv',
 'Forbes Richest Athletes 1990-2020.csv',
 'noc_regions.csv']

In [3]:
olympics = pd.read_csv(path_input_datasets+'athlete_events.csv')
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Realizando Filtros mascaras, query
### Ejemplo para atletas olimpicos peruanos.

In [4]:
olympics[olympics['NOC'] == 'PER']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1076,605,Fernando J. Abugattas Aboino,M,20.0,190.0,80.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's High Jump,NaN
1077,606,Roberto Abugattas Aboino,M,21.0,182.0,77.0,Peru,PER,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Men's High Jump,NaN
1078,606,Roberto Abugattas Aboino,M,25.0,182.0,77.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's High Jump,NaN
1166,649,Fernando Acevedo Portugues,M,22.0,175.0,65.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's 200 metres,NaN
1167,649,Fernando Acevedo Portugues,M,26.0,175.0,65.0,Peru,PER,1972 Summer,1972,Summer,Munich,Athletics,Athletics Men's 400 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267568,133860,Miguel Zambrano de la Cruz,M,28.0,182.0,148.0,Peru,PER,1980 Summer,1980,Summer,Moskva,Wrestling,"Wrestling Men's Super-Heavyweight, Freestyle",NaN
267640,133894,Yulissa Noelia Zamudio Orl,F,20.0,185.0,75.0,Peru,PER,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Women's Volleyball,NaN
267641,133894,Yulissa Noelia Zamudio Orl,F,24.0,185.0,75.0,Peru,PER,2000 Summer,2000,Summer,Sydney,Volleyball,Volleyball Women's Volleyball,NaN
268048,134100,Ramn Zavaleta,M,24.0,181.0,72.0,Peru,PER,1984 Summer,1984,Summer,Los Angeles,Cycling,"Cycling Men's Road Race, Individual",NaN
268270,134227,Carlos Erick Zegarra Presser,M,23.0,202.0,165.0,Peru,PER,2008 Summer,2008,Summer,Beijing,Judo,Judo Men's Heavyweight,NaN

In [6]:
olympics.query('NOC == "PER"')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1076,605,Fernando J. Abugattas Aboino,M,20.0,190.0,80.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's High Jump,NaN
1077,606,Roberto Abugattas Aboino,M,21.0,182.0,77.0,Peru,PER,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Men's High Jump,NaN
1078,606,Roberto Abugattas Aboino,M,25.0,182.0,77.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's High Jump,NaN
1166,649,Fernando Acevedo Portugues,M,22.0,175.0,65.0,Peru,PER,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's 200 metres,NaN
1167,649,Fernando Acevedo Portugues,M,26.0,175.0,65.0,Peru,PER,1972 Summer,1972,Summer,Munich,Athletics,Athletics Men's 400 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267568,133860,Miguel Zambrano de la Cruz,M,28.0,182.0,148.0,Peru,PER,1980 Summer,1980,Summer,Moskva,Wrestling,"Wrestling Men's Super-Heavyweight, Freestyle",NaN
267640,133894,Yulissa Noelia Zamudio Orl,F,20.0,185.0,75.0,Peru,PER,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Women's Volleyball,NaN
267641,133894,Yulissa Noelia Zamudio Orl,F,24.0,185.0,75.0,Peru,PER,2000 Summer,2000,Summer,Sydney,Volleyball,Volleyball Women's Volleyball,NaN
268048,134100,Ramn Zavaleta,M,24.0,181.0,72.0,Peru,PER,1984 Summer,1984,Summer,Los Angeles,Cycling,"Cycling Men's Road Race, Individual",NaN
268270,134227,Carlos Erick Zegarra Presser,M,23.0,202.0,165.0,Peru,PER,2008 Summer,2008,Summer,Beijing,Judo,Judo Men's Heavyweight,NaN

In [7]:
# Realizando filtros conjuntos, Ejemplo los medallistas de Seul 88.
olympics[(olympics['NOC'] == 'PER') & 
         (olympics['Sport'] == 'Volleyball') & 
         (olympics['Year'] == 1988) & 
         (olympics['Medal'] == 'Silver')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
37847,19448,Luisa Haydee Cervera Cevedon,F,24.0,173.0,70.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
51127,26272,Alejandra de la Guerra,F,20.0,173.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
66098,33819,Denisse Fajardo Garca,F,24.0,171.0,62.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
75122,38118,Miriam Gallardo,F,20.0,168.0,57.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
76249,38692,Rosa Gisella Garca Rivas,F,24.0,175.0,69.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
94622,47883,Sonia Isabel Heredia,F,24.0,175.0,69.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
98804,50004,"Katherine ""Kathy"" Horny",F,18.0,186.0,76.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
147339,73946,Natalia Mara Mlaga Dibos,F,24.0,170.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
185611,93317,"Gabriela Lourdes ""Gaby"" Prez del Solar Cuculiza",F,20.0,194.0,72.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
234999,117844,Cecilia Roxana Tait Villacorta,F,26.0,182.0,70.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
242031,121233,Gina Torrealva,F,26.0,175.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
246625,123484,Cenaida Cebastiana Uribe Medina,F,22.0,174.0,65.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver

In [8]:
# Realizando filtros conjuntos, Ejemplo los medallistas de Seul 88 con la funcion query.
olympics.query('(NOC == "PER") & (Sport == "Volleyball") & (Year == 1988) & (Medal == "Silver")')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
37847,19448,Luisa Haydee Cervera Cevedon,F,24.0,173.0,70.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
51127,26272,Alejandra de la Guerra,F,20.0,173.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
66098,33819,Denisse Fajardo Garca,F,24.0,171.0,62.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
75122,38118,Miriam Gallardo,F,20.0,168.0,57.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
76249,38692,Rosa Gisella Garca Rivas,F,24.0,175.0,69.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
94622,47883,Sonia Isabel Heredia,F,24.0,175.0,69.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
98804,50004,"Katherine ""Kathy"" Horny",F,18.0,186.0,76.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
147339,73946,Natalia Mara Mlaga Dibos,F,24.0,170.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
185611,93317,"Gabriela Lourdes ""Gaby"" Prez del Solar Cuculiza",F,20.0,194.0,72.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
234999,117844,Cecilia Roxana Tait Villacorta,F,26.0,182.0,70.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
242031,121233,Gina Torrealva,F,26.0,175.0,59.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver
246625,123484,Cenaida Cebastiana Uribe Medina,F,22.0,174.0,65.0,Peru,PER,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Women's Volleyball,Silver

In [10]:
# Filtros con comparaciones.
olympics[olympics['Age'] < 20].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
87,26,Agnes Erika Aanonsen (-Eyde),F,17.0,169.0,65.0,Norway,NOR,1984 Winter,1984,Winter,Sarajevo,Luge,Luge Women's Singles,NaN
167,69,Tamara Abalde Daz,F,19.0,185.0,72.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
203,96,Carlos Rodolfo Abaunza Balladares,M,18.0,168.0,60.0,Nicaragua,NCA,2004 Summer,2004,Summer,Athina,Athletics,Athletics Men's 100 metres,NaN

In [12]:
# Filtro comparando campos peso mayor que la altura.
olympics.query('Weight > Height')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
23155,12177,"Ricardo Blas, Jr.",M,21.0,183.0,214.0,Guam,GUM,2008 Summer,2008,Summer,Beijing,Judo,Judo Men's Heavyweight,NaN
23156,12177,"Ricardo Blas, Jr.",M,25.0,183.0,214.0,Guam,GUM,2012 Summer,2012,Summer,London,Judo,Judo Men's Heavyweight,NaN

In [13]:
# Filtros con listas.
olympics['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [14]:
deportes = ['Tennis','Table Tennis']

In [16]:
olympics[olympics['Sport'].isin(deportes)]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
184,82,Enrique Abaroa Martnez,M,26.0,183.0,75.0,Mexico,MEX,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
498,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
499,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Doubles,NaN
500,277,Shaimaa Abdul Aziz,F,27.0,160.0,53.0,Egypt,EGY,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Singles,NaN
582,334,Abubakar Sadiq Abdullahi,M,28.0,NaN,NaN,Nigeria,NGR,1988 Summer,1988,Summer,Seoul,Tennis,Tennis Men's Singles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270980,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
270986,135508,Vera Igorevna Zvonaryova,F,23.0,172.0,59.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Women's Singles,Bronze
270987,135508,Vera Igorevna Zvonaryova,F,23.0,172.0,59.0,Russia-2,RUS,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Women's Doubles,NaN
270988,135508,Vera Igorevna Zvonaryova,F,27.0,172.0,59.0,Russia,RUS,2012 Summer,2012,Summer,London,Tennis,Tennis Women's Singles,NaN
271020,135526,Dniel Zwickl,M,27.0,178.0,71.0,Hungary,HUN,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Men's Singles,NaN

In [17]:
olympics[olympics['Sport'].isin(deportes) & (olympics['City'] == 'Sydney')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
184,82,Enrique Abaroa Martnez,M,26.0,183.0,75.0,Mexico,MEX,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
498,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
499,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Doubles,NaN
1457,812,David Dixie Adams,M,30.0,188.0,79.0,South Africa,RSA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
2022,1116,Eldijana Dana Aganovi (-Bentsen),F,28.0,173.0,59.0,Croatia,CRO,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269911,135043,Nenad Zimonji,M,24.0,190.0,92.0,Serbia and Montenegro,SCG,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
270775,135417,Fabiola Zuluaga Amado,F,21.0,171.0,65.0,Colombia,COL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
270776,135417,Fabiola Zuluaga Amado,F,21.0,171.0,65.0,Colombia,COL,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
270979,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
270980,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN

In [18]:
# Filtros isnull 
olympics[olympics['Medal'].isnull()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [20]:
# Filtros notnull 
# opcion 1 negando la condicion con el comando ~
# olympics[ ~ olympics['Medal'].isnull()]
# opcion 2 con el comando pandas notnull
# Filtros isnull 
olympics[olympics['Medal'].notnull()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [21]:
# Realizando filtros Negativos.
olympics[olympics['NOC'] != 'CHN']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [22]:
# Realizando filtros negativos con query.
olympics.query('NOC != "CHN"')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [23]:
# Realizando filtros con String.
olympics_rou = olympics[olympics['NOC'] == 'ROU']

In [25]:
# Realizando filtro por el innicio del nombre de la atleta Nadia.
olympics_rou[olympics_rou['Name'].str.startswith('Nadia')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
43773,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Individual All-Around,Gold
43774,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Team All-Around,Silver
43775,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Floor Exercise,Bronze
43776,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Horse Vault,NaN
43777,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Uneven Bars,Gold
43778,22570,Nadia Elena Comneci (-Conner),F,14.0,162.0,45.0,Romania,ROU,1976 Summer,1976,Summer,Montreal,Gymnastics,Gymnastics Women's Balance Beam,Gold
43779,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Individual All-Around,Silver
43780,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Team All-Around,Silver
43781,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Floor Exercise,Gold
43782,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Horse Vault,NaN
43783,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Uneven Bars,NaN
43784,22570,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,ROU,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Balance Beam,Gold