# Carga de datos usando la función read_csv()

In [2]:
%config IPCompleter.greedy=True
import pandas as pd
import os

In [3]:
data = pd.read_csv("../datasets/titanic/titanic3.csv")

In [4]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

## Ejemplos de parametros funcion read_csv.

- Otra opcion para cargar datos.
- usando dtype={"columna_a":np.float64, "columna_b":np.int32}
- header: Especifica que fila es la cabecera.
- names: indica el nombre de las columnas. names={"columna_a", "columna_b"}
- skiprows: para saltar un numero determinado de filas. skiprows=12
- index_col: No se aplican etiquetas a cada una de las filas. index_col=None
- skip_blank_lines: Booleano (True o False) las lineas en blanco seran saltadas por NaN.
- na_filter: Booleano(True o False): Detecta los marcadores de valores faltantes en el dataset para eliminarlos.
 
read.csv(filepath="../proyectos/learning/MachineLearning/datasets/titanic/titanic3.csv",sep=",", dtype=None, header=0,names=list)

In [7]:
# Creando variables para cargar rutas en variables.
mainpath = "/proyectos/learning/MachineLearning/datasets"
filename = "titanic/titanic3.csv"
# Forma manual para cargar
fullpath = mainpath + "/" + filename
# combinando con libreria os.
fullpath2 = os.path.join(mainpath,fullpath)

In [6]:
data2 = pd.read_csv(fullpath2)
data2.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [8]:
# Revisando nombres de las columnas.
data2.columns.values

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

In [9]:
# Cambiando nombres de cabecera por nombres entregados en archivo.
data_cols = pd.read_csv(mainpath +"/"+ "customer-churn-model/Customer Churn Columns.csv")
# Convirtiendo a lista.
data_col_list = data_cols["Column_Names"].tolist()
# Cambianod los valores de la columna con la nueva lista.
data3 = pd.read_csv(mainpath +"/"+ "customer-churn-model/Customer Churn Model.txt", header = None, names = data_col_list, skiprows =1)
data3.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

In [10]:
data3.head()

,A,B,C,D,E,F,G,H,I,J,...,L,M,N,O,P,Q,R,S,T,U
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Carga de datos a través de la función OPEN

- Recomendable al abrir un fichero en modo "w" (escritura) hará que dicho fichero pierda su contenido (en caso de tenerlo y querer conservarlo). Si se quiere agregar contenido a este es recomendable abrirlo en modo "a" (append), lo cual posicionará el cursor al final y no borrará el contenido del mismo.

In [11]:
# Cargando archivos gigantes con funcion OPEN en modo lectura "r"
data4 = open(mainpath +"/"+ "customer-churn-model/Customer Churn Model.txt","r")

In [12]:
# Extraer informacion linea a linea.
cols = data4.readline().strip().split(",")
n_cols = len(cols)

In [13]:
# Contador para buscar el numemro de filas.

counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [14]:
# Rellenar el diccionario con el for.

for line in data4:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter +=1

print("El data set tiene %d filas y %d columnas" % (counter,n_cols))

El data set tiene 3333 filas y 21 columnas

In [15]:
# Creando un DataFrame a partir del diccionario del punto anterior.
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

## Lectura y escritura de ficehros.

In [16]:
infile = mainpath +"/"+ "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath +"/"+ "customer-churn-model/Tab2 Customer Churn Model.txt"

In [8]:
# Escribiendo en Tab2 con el nuevo formato de separacion "\t"
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [9]:
df4 = pd.read_csv(outfile, sep="\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Leer datos desde una URL. Usando Urllib3

In [43]:
# Funcion para cargar datos desde URL.
largest_us_retailers = "https://data.ny.gov/api/views/5xaw-6ayf/rows.csv"
marvel_wikia_data = "https://datahub.io/five-thirty-eight/comic-characters/r/1.html"
largest_data = pd.read_csv(largest_us_retailers)

In [27]:
largest_data.head()

    Draw Date Winning Numbers  Mega Ball  Multiplier
0  09/25/2020  20 36 37 48 67         16         2.0
1  09/29/2020  14 39 43 44 67         19         3.0
2  10/02/2020  09 38 47 49 68         25         2.0
3  10/06/2020  15 16 18 39 59         17         3.0
4  10/09/2020  05 11 25 27 64         13         2.0

In [44]:
# Con URLLIB3 permite obtener los datos de la pagina http.
import urllib3
http = urllib3.PoolManager()

In [45]:
rsp = http.request('GET', marvel_wikia_data)
rsp.status

200

In [47]:
rsp.data

b'<!DOCTYPE html>\n<html lang="en">\n  <head>\n    <meta charset="utf-8">\n    <title>\n      comic-characters - DataHub - Frictionless Data\n    </title>\n    <meta name="author" content="Datopian">\n    <meta name="description" content="comic-characters. Data online made easy. Share and find data, quickly and easily. Simple, solid, slick. Frictionless and fast. Built for data scientists and wranglers. Managed by Datopian and Open Knowledge International">\n    <meta name="keywords" content="data,datasets,data publishing,data sharing,data hosting,data package,reference data,indicators">\n    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">\n    <!-- Google Tag Manager -->\n    <script>\n      try {\n        if (!window.location.host.includes(\'datahub.io\') && !window.location.host.includes(\'localhost\')) {\n          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\n          new Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\n          j=d.createElement(s),dl=l!=\'dataLayer\'?\'&l=\'+l:\'\';j.async=true;j.src=\n          \'https://www.googletagmanager.com/gtm.js?id=\'+i+dl;f.parentNode.insertBefore(j,f);\n          })(window,document,\'script\',\'dataLayer\',\'GTM-WCTXGJ8\');\n        }\n      } catch (err) {\n        console.log(\'running on phantomjs\');\n      }\n    </script>\n    <!-- End Google Tag Manager -->\n    <link rel="icon" type="img/ico" href="/static/img/favicon.ico" sizes="16x16">\n    <link rel="stylesheet" media="screen" href="/static/stylesheets/app.css">\n    <link rel="stylesheet" media="screen" href="/static/dpr-js/dist/main.css">\n  </head>\n  <!-- Views -->\n  <body class="view">\n    <!-- Google Tag Manager (noscript) -->\n    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCTXGJ8"\n    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>\n    <!-- End Google Tag Manager (noscript) -->\n    <div class="react-me part" data-type="data-views"></div>\n    <div class="react-me tables" data-type="resource-preview" data-resource="0"></div>\n\n    <!-- pass DP_ID to frontend -->\n    <script type="text/javascript">\n     var DP_ID = JSON.parse(\'{"datahub":{"created":"5 years ago","findability":"published","flowid":"five-thirty-eight/comic-characters/4","hash":"6b4cbd477fcd829aa0984ca491d673a6","modified":"5 years ago","owner":"five-thirty-eight","ownerid":"five-thirty-eight","stats":{"bytes":21099444,"rowcount":23272,"prettyBytes":"20MB"},"modifiedISO":"2018-06-28T07:38:58.190874","createdISO":"2018-06-27T15:35:23.891438"},"id":"five-thirty-eight/comic-characters","licences":[{"name":"odc-pddl","path":"http://opendatacommons.org/licenses/pddl/","title":"Open Data Commons Public Domain Dedication and Licence (PDDL)"}],"name":"comic-characters","readme":"# Comic Characters\\\\r\\\\n\\\\r\\\\nThis folder contains data behind the story [Comic Books Are Still Made By Men, For Men And About Men](http://fivethirtyeight.com/features/women-in-comic-books/).\\\\r\\\\n\\\\r\\\\nThe data comes from [Marvel Wikia](http://marvel.wikia.com/Main_Page) and [DC Wikia](http://dc.wikia.com/wiki/Main_Page). Characters were scraped on August 24. Appearance counts were scraped on September 2. The month and year of the first issue each character appeared in was pulled on October 6.\\\\r\\\\n\\\\r\\\\nThe data is split into two files, for DC and Marvel, respectively: `dc-wikia-data.csv` and `marvel-wikia-data.csv`. Each file has the following variables:\\\\r\\\\n\\\\r\\\\nVariable | Definition\\\\r\\\\n---|---------\\\\r\\\\n`page_id` | The unique identifier for that characters page within the wikia\\\\r\\\\n`name` | The name of the character\\\\r\\\\n`urlslug` | The unique url within the wikia that takes you to the character\\\\r\\\\n`ID` | The identity status of the character (Secret Identity, Public identity, [on marvel only: No Dual Identity])\\\\r\\\\n`ALIGN` | If the character is Good, Bad or Neutral\\\\r\\\\n`EYE` | Eye color of the character\\\\r\\\\n`HAIR` | Hair color of the character\\\\r\\\\n`SEX` | Sex of the character (e.g. Male, Female, etc.)\\\\r\\\\n`GSM` | If the character is a gender or sexual minority (e.g. Homosexual characters, bisexual characters)\\\\r\\\\n`ALIVE` | If the character is alive or deceased\\\\r\\\\n`APPEARANCES` | The number of appareances of the character in comic books (as of Sep. 2, 2014. Number will become increasingly out of date as time goes on.)\\\\r\\\\n`FIRST APPEARANCE` | The month and year of the character\\\'s first appearance in a comic book, if available\\\\r\\\\n`YEAR` | The year of the character\\\'s first appearance in a comic book, if available\\\\r\\\\n\\\\r\\\\nThis dataset was scraped from [FiveThirtyEight - comic-characters](https://github.com/fivethirtyeight/data/tree/master/comic-characters)","resources":[{"bytes":2422999,"datahub":{"derivedFrom":["marvel-wikia-data"],"type":"derived/csv"},"dialect":{"caseSensitiveHeader":false,"delimiter":",","doubleQuote":true,"header":true,"lineTerminator":"\\\\r\\\\n","quoteChar":"\\\\"","skipInitialSpace":false},"dpp:streamedFrom":"https://s3.amazonaws.com/rawstore.datahub.io/2b0170d5241bc297fd7e8cc942912654.csv","encoding":"utf-8","format":"csv","hash":"69f93997db6d9caaa1ffef3d24e5bd41","mediatype":"text/csv","name":"marvel-wikia-data","path":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/marvel-wikia-data_csv/data/69f93997db6d9caaa1ffef3d24e5bd41/marvel-wikia-data_csv.csv","pathType":"local","profile":"tabular-data-resource","rowcount":16376,"schema":{"fields":[{"format":"default","name":"page_id","type":"integer"},{"format":"default","name":"name","type":"string"},{"format":"default","name":"urlslug","type":"string"},{"format":"default","name":"id","type":"string"},{"format":"default","name":"align","type":"string"},{"format":"default","name":"eye","type":"string"},{"format":"default","name":"hair","type":"string"},{"format":"default","name":"sex","type":"string"},{"format":"default","name":"gsm","type":"string"},{"format":"default","name":"alive","type":"string"},{"format":"default","name":"appearances","type":"integer"},{"format":"default","name":"first appearance","type":"string"},{"format":"default","name":"year","type":"integer"}],"missingValues":[""]},"signed":true,"title":"","description":"","alternates":[{"bytes":2406623,"datahub":{"type":"source/tabular"},"dpp:streamedFrom":"https://s3.amazonaws.com/rawstore.datahub.io/2b0170d5241bc297fd7e8cc942912654.csv","encoding":"ISO-8859-1","format":"csv","mediatype":"text/csv","name":"marvel-wikia-data","path":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/marvel-wikia-data/archive/2b0170d5241bc297fd7e8cc942912654/marvel-wikia-data.csv","pathType":"local","profile":"tabular-data-resource","schema":{"fields":[{"format":"default","name":"page_id","type":"integer"},{"format":"default","name":"name","type":"string"},{"format":"default","name":"urlslug","type":"string"},{"format":"default","name":"id","type":"string"},{"format":"default","name":"align","type":"string"},{"format":"default","name":"eye","type":"string"},{"format":"default","name":"hair","type":"string"},{"format":"default","name":"sex","type":"string"},{"format":"default","name":"gsm","type":"string"},{"format":"default","name":"alive","type":"string"},{"format":"default","name":"appearances","type":"integer"},{"format":"default","name":"first appearance","type":"string"},{"format":"default","name":"year","type":"integer"}],"missingValues":[""]},"signed":true,"prettyBytes":"2MB"},{"bytes":5127733,"datahub":{"derivedFrom":["marvel-wikia-data"],"type":"derived/json"},"dpp:streamedFrom":"https://s3.amazonaws.com/rawstore.datahub.io/2b0170d5241bc297fd7e8cc942912654.csv","encoding":"utf-8","format":"json","hash":"0e66dd379500896088dc053e06aade1b","mediatype":"text/csv","name":"marvel-wikia-data_json","path":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/marvel-wikia-data_json/data/0e66dd379500896088dc053e06aade1b/marvel-wikia-data_json.json","pathType":"local","profile":"tabular-data-resource","rowcount":16376,"schema":{"fields":[{"format":"default","name":"page_id","type":"integer"},{"format":"default","name":"name","type":"string"},{"format":"default","name":"urlslug","type":"string"},{"format":"default","name":"id","type":"string"},{"format":"default","name":"align","type":"string"},{"format":"default","name":"eye","type":"string"},{"format":"default","name":"hair","type":"string"},{"format":"default","name":"sex","type":"string"},{"format":"default","name":"gsm","type":"string"},{"format":"default","name":"alive","type":"string"},{"format":"default","name":"appearances","type":"integer"},{"format":"default","name":"first appearance","type":"string"},{"format":"default","name":"year","type":"integer"}],"missingValues":[""]},"signed":true,"prettyBytes":"5MB"},{"bytes":3070298,"datahub":{"derivedFrom":["marvel-wikia-data"],"type":"derived/preview"},"dialect":{"caseSensitiveHeader":false,"delimiter":",","doubleQuote":true,"header":true,"lineTerminator":"\\\\r\\\\n","quoteChar":"\\\\"","skipInitialSpace":false},"dpp:streamedFrom":"/tmp/tmpx1kjjb9u/five-thirty-eight/comic-characters/marvel-wikia-data_csv/data/69f93997db6d9caaa1ffef3d24e5bd41/marvel-wikia-data_csv.csv","encoding":"utf-8","forView":["datahub-preview-marvel-wikia-data_csv_preview"],"format":"json","hash":"1af1a93a00470b9b72ad3756fbb58766","mediatype":"text/csv","name":"marvel-wikia-data_csv_preview","path":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/marvel-wikia-data_csv_preview/data/1af1a93a00470b9b72ad3756fbb58766/marvel-wikia-data_csv_preview.json","pathType":"local","profile":"tabular-data-resource","rowcount":18376,"schema":{"fields":[{"format":"default","name":"page_id","type":"integer"},{"format":"default","name":"name","type":"string"},{"format":"default","name":"urlslug","type":"string"},{"format":"default","name":"id","type":"string"},{"format":"default","name":"align","type":"string"},{"format":"default","name":"eye","type":"string"},{"format":"default","name":"hair","type":"string"},{"format":"default","name":"sex","type":"string"},{"format":"default","name":"gsm","type":"string"},{"format":"default","name":"alive","type":"string"},{"format":"default","name":"appearances","type":"integer"},{"format":"default","name":"first appearance","type":"string"},{"format":"default","name":"year","type":"integer"}],"missingValues":[""]},"signed":true,"prettyBytes":"3MB"}],"prettyBytes":"2MB","report":"{\\\\\\\\\\\\"time\\\\\\\\\\\\":5.893,\\\\\\\\\\\\"valid\\\\\\\\\\\\":true,\\\\\\\\\\\\"error-count\\\\\\\\\\\\":0,\\\\\\\\\\\\"table-count\\\\\\\\\\\\":1,\\\\\\\\\\\\"tables\\\\\\\\\\\\":[{\\\\\\\\\\\\"time\\\\\\\\\\\\":5.807,\\\\\\\\\\\\"valid\\\\\\\\\\\\":true,\\\\\\\\\\\\"error-count\\\\\\\\\\\\":0,\\\\\\\\\\\\"row-count\\\\\\\\\\\\":1000,\\\\\\\\\\\\"source\\\\\\\\\\\\":\\\\\\\\\\\\"https://s3.amazonaws.com/rawstore.datahub.io/2b0170d5241bc297fd7e8cc942912654.csv\\\\\\\\\\\\",\\\\\\\\\\\\"headers\\\\\\\\\\\\":[\\\\\\\\\\\\"page_id\\\\\\\\\\\\",\\\\\\\\\\\\"name\\\\\\\\\\\\",\\\\\\\\\\\\"urlslug\\\\\\\\\\\\",\\\\\\\\\\\\"id\\\\\\\\\\\\",\\\\\\\\\\\\"align\\\\\\\\\\\\",\\\\\\\\\\\\"eye\\\\\\\\\\\\",\\\\\\\\\\\\"hair\\\\\\\\\\\\",\\\\\\\\\\\\"sex\\\\\\\\\\\\",\\\\\\\\\\\\"gsm\\\\\\\\\\\\",\\\\\\\\\\\\"alive\\\\\\\\\\\\",\\\\\\\\\\\\"appearances\\\\\\\\\\\\",\\\\\\\\\\\\"first appearance\\\\\\\\\\\\",\\\\\\\\\\\\"year\\\\\\\\\\\\"],\\\\\\\\\\\\"scheme\\\\\\\\\\\\":\\\\\\\\\\\\"https\\\\\\\\\\\\",\\\\\\\\\\\\"format\\\\\\\\\\\\":\\\\\\\\\\\\"csv\\\\\\\\\\\\",\\\\\\\\\\\\"encoding\\\\\\\\\\\\":\\\\\\\\\\\\"iso8859-1\\\\\\\\\\\\",\\\\\\\\\\\\"schema\\\\\\\\\\\\":\\\\\\\\\\\\"table-schema\\\\\\\\\\\\",\\\\\\\\\\\\"errors\\\\\\\\\\\\":[]}],\\\\\\\\\\\\"warnings\\\\\\\\\\\\":[\\\\\\\\\\\\"Table https://s3.amazonaws.com/rawstore.datahub.io/2b0170d5241bc297fd7e8cc942912654.csv inspection has reached 1000 row(s) limit\\\\\\\\\\\\"],\\\\\\\\\\\\"preset\\\\\\\\\\\\":\\\\\\\\\\\\"table\\\\\\\\\\\\",\\\\\\\\\\\\"resource\\\\\\\\\\\\":\\\\\\\\\\\\"marvel-wikia-data\\\\\\\\\\\\"}","reportObj":{"time":5.893,"valid":true,"error-count":0,"table-count":1,"tables":[{"time":5.807,"valid":true,"error-count":0,"row-count":1000,"source":"https://s3.amazonaws.com/rawstore.datahub.io/2b0170d5241bc297fd7e8cc942912654.csv","headers":["page_id","name","urlslug","id","align","eye","hair","sex","gsm","alive","appearances","first appearance","year"],"scheme":"https","format":"csv","encoding":"iso8859-1","schema":"table-schema","errors":[]}],"warnings":["Table \\\\"https://s3.amazonaws.com/rawstore.datahub.io/2b0170d5241bc297fd7e8cc942912654.csv\\\\" inspection has reached 1000 row(s) limit"],"preset":"table","resource":"marvel-wikia-data"}}],"sources":[{"path":"https://github.com/fivethirtyeight/data/tree/master/comic-characters","title":"FiveThirtyEight - Comic Characters"}],"title":"Comic Characters","views":[{"datahub":{"type":"preview"},"resources":["marvel-wikia-data"],"specType":"table"}],"report":{"bytes":1368,"datahub":{"type":"derived/report"},"description":"Validation report for tabular data","dpp:streamedFrom":"validation_report.json","format":"json","hash":"bef10385f14c7cdab564e79466a66a9b","name":"validation_report","path":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/validation_report/data/bef10385f14c7cdab564e79466a66a9b/validation_report.json","profile":"data-resource","valid":true},"path":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/4","readmeSnippet":"Comic Characters\\\\nThis folder contains data behind the story Comic Books Are Still Made By Men, For Men And About Men.\\\\nThe data comes from Marvel Wikia and DC Wikia. Characters were scraped on August 24. Appearance counts were scraped on September 2. The month and year of the first issue each","readmeHtml":"<h1>Comic Characters <a class=\\\\"header-anchor\\\\" href=\\\\"#comic-characters\\\\"><i class=\\\\"fas fa-link\\\\"></i></a></h1>\\\\n<p>This folder contains data behind the story <a href=\\\\"http://fivethirtyeight.com/features/women-in-comic-books/\\\\">Comic Books Are Still Made By Men, For Men And About Men</a>.</p>\\\\n<p>The data comes from <a href=\\\\"http://marvel.wikia.com/Main_Page\\\\">Marvel Wikia</a> and <a href=\\\\"http://dc.wikia.com/wiki/Main_Page\\\\">DC Wikia</a>. Characters were scraped on August 24. Appearance counts were scraped on September 2. The month and year of the first issue each character appeared in was pulled on October 6.</p>\\\\n<p>The data is split into two files, for DC and Marvel, respectively: <code>dc-wikia-data.csv</code> and <code>marvel-wikia-data.csv</code>. Each file has the following variables:</p>\\\\n<table>\\\\n<thead>\\\\n<tr>\\\\n<th>Variable</th>\\\\n<th>Definition</th>\\\\n</tr>\\\\n</thead>\\\\n<tbody>\\\\n<tr>\\\\n<td><code>page_id</code></td>\\\\n<td>The unique identifier for that characters page within the wikia</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>name</code></td>\\\\n<td>The name of the character</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>urlslug</code></td>\\\\n<td>The unique url within the wikia that takes you to the character</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>ID</code></td>\\\\n<td>The identity status of the character (Secret Identity, Public identity, [on marvel only: No Dual Identity])</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>ALIGN</code></td>\\\\n<td>If the character is Good, Bad or Neutral</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>EYE</code></td>\\\\n<td>Eye color of the character</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>HAIR</code></td>\\\\n<td>Hair color of the character</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>SEX</code></td>\\\\n<td>Sex of the character (e.g. Male, Female, etc.)</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>GSM</code></td>\\\\n<td>If the character is a gender or sexual minority (e.g. Homosexual characters, bisexual characters)</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>ALIVE</code></td>\\\\n<td>If the character is alive or deceased</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>APPEARANCES</code></td>\\\\n<td>The number of appareances of the character in comic books (as of Sep. 2, 2014. Number will become increasingly out of date as time goes on.)</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>FIRST APPEARANCE</code></td>\\\\n<td>The month and year of the character\xe2\x80\x99s first appearance in a comic book, if available</td>\\\\n</tr>\\\\n<tr>\\\\n<td><code>YEAR</code></td>\\\\n<td>The year of the character\xe2\x80\x99s first appearance in a comic book, if available</td>\\\\n</tr>\\\\n</tbody>\\\\n</table>\\\\n<p>This dataset was scraped from <a href=\\\\"https://github.com/fivethirtyeight/data/tree/master/comic-characters\\\\">FiveThirtyEight - comic-characters</a></p>\\\\n","formats":["csv","zip"],"downloads":[{"name":"dc-wikia-data","format":"csv","title":"","description":"","prettyBytes":"1MB","download":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/dc-wikia-data_csv/data/f851508a1dc1c60f4a8ca3a922540fb9/dc-wikia-data_csv.csv","otherFormats":[{"name":"dc-wikia-data_json","format":"json","prettyBytes":"2MB","download":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/dc-wikia-data_json/data/8b35699325a97475673d4255ab21d4df/dc-wikia-data_json.json"}]},{"name":"marvel-wikia-data","format":"csv","title":"","description":"","prettyBytes":"2MB","download":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/marvel-wikia-data_csv/data/69f93997db6d9caaa1ffef3d24e5bd41/marvel-wikia-data_csv.csv","otherFormats":[{"name":"marvel-wikia-data_json","format":"json","prettyBytes":"5MB","download":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/marvel-wikia-data_json/data/0e66dd379500896088dc053e06aade1b/marvel-wikia-data_json.json"}]},{"name":"comic-characters_zip","format":"zip","description":"Compressed versions of dataset. Includes normalized CSV and JSON data with original data and datapackage.json.","prettyBytes":"2MB","download":"https://pkgstore.datahub.io/five-thirty-eight/comic-characters/comic-characters_zip/data/2d8157e7cd74ca5ba5c6257afd05ae2e/comic-characters_zip.zip","otherFormats":[]}]}\');\n    </script>\n\n    <script type="text/javascript" src="/static/dpr-js/dist/bundle.js"></script>\n  </body>\n</html>\n'

# Ficheros XLS, XLSX.

In [4]:
# Creando variables para cargar rutas en variables.
mainpath = "/proyectos/learning/MachineLearning/datasets"
filename = "titanic/titanic3.xls"

In [6]:
titanic2 = pd.read_excel(mainpath +"/"+filename, "titanic3")

In [7]:
# Creando un CSV desde un DataFrame.
titanic2.to_csv(mainpath + "/titanic/titanic_custom2.csv")

In [13]:
# Creando un JSON desde un DataFrame.
titanic2.to_json(mainpath + "/titanic/titanic_custom2.json")